body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:burlywood ;
    color: beige;
}
.container{
    width: 100%;
    background-color:rgb(92, 42, 8);
}
.hero{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.toggle{
    font-size: 2rem;
    display: none;
}
#menu-toggle{
    display: none;
}
@media screen and (max-width:768px) {
    .toggle{
        display: block;
        margin-right: 3rem;
    }
    .navigations{
        display: none;
        position: absolute;
        right: 15px;
        top: 70px;
        flex-direction: column;
        width: 180px;
        background-color: rgb(92, 42, 8);
        height: fit-content;
        align-items: center;
    }
    #menu-toggle:checked ~ .navigations{
        display: none;
    }
    nav{
        display: none;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    header button{
        margin-bottom: 2em;
        display: flex;
        align-self: center;
    }
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5em;
    position: fixed;
    background-color: rgb(92, 42, 8);
    margin-top: 0%;
    background-attachment: fixed;
}
.navigations{
    display: flex;
    justify-content: space-between;
    gap: 5em;
}
.logo{
    color: beige;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
nav{
    display: flex;
    gap: 2em;
}
nav a{
    color: beige;
    text-decoration: none;
    font-size: 1.2em;
}
header button{
    border-radius: 1.5em;
    border: none;
    color: rgb(92, 42, 8);
    background-color: beige;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
    margin-right: 3em;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 3em 0em 0em;
    flex-wrap: wrap;
    padding: 4rem 0;
}
.text{
    color: beige;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.text h1{
    font-size: 5em;
    font-family:  'Trebuchet MS', sans-serif;
    margin-top: 0;
    margin-bottom: 0.3em;
}
.text p{
    margin-top: 0;
    font-size:2em;
    font-family: Georgia, serif;
}
.menu{
    padding: 1em 0 3em 0;
    background-color: burlywood;
}
.menu h2{
    text-align: center;
    font-size: 3em;
    padding-top: 1.5em;
    margin-bottom: 1em;
    padding-bottom: 0%;
    color: rgb(92, 42, 8);
}
.box img{
    width: 15em;
    height: 20em;
}
.box{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
}
.service{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(92, 42, 8);
    padding: 1em;
    margin: 1em 0 ;
}
.service h2{
    text-align: center;
    font-size: 3em;
}
.service h3{
    font-size: 2em;
    margin-bottom: 0;
    padding-top: 0;
}
.service h4{
    font-size: 1.3em;
    margin-top:0.1em;
}
.chef{
    background-color: burlywood;
    color: rgb(92, 42, 8);
    padding-bottom: 4em;
}
.chef h3{
    margin-top: 0;
    padding-top: 0;
    font-size: 2em;
}
.chef h2{
    text-align: center;
    font-size: 3em;
    padding-top: 2em;
}